﻿@{
    ViewBag.Title = "demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >demo</h2>
<button onclick="search()">Click for ajax call</button>

<div id="example" >
    <div id="grid"></div>
    <script>
        
        function search() {
            var familyNo = "";//document.getElementById("txtFamilyNo").value;
            var articleNo = "";//document.getElementById("txtArticleNo").value;
            var articleName = "";// document.getElementById("txtArticleName").value;
            var SG = 0; //document.getElementById("ddl_sg").value;
            var SC = ""; //document.getElementById("ddl_sc").value;
            var supplyerName = ""; //document.getElementById("txtSupplyerName").value;
            var supplyerDesignation = "";// document.getElementById("txtDesignation").value;
            var technicalData = ""; //document.getElementById("txtTechnicalData").value;

            $.ajax({
                // type: "POST",
                url: '@Url.Action("SearchForm_byParameters", "Electrical")',
                //url: '/Electrical/SearchForm_byParameters',
                contentType: "application/json; charset=utf-8",
                //data: { FamilyNo: 1 , ArticleNo:,ArticleName,TechnicalData,AdditionalData,CompanyCode,SpecificComppanyDesignation,SG,,SC,hits},

                data: { familyNo: familyNo, articleNo: articleNo, articleName: articleName, SG: SG, SC: SC, TechnicalData: technicalData, supplyerName: supplyerName, supplyerDesignation: supplyerDesignation },
                dataType: "json",
                success: function (result) {
                    alert(result);
                    window.locationre = result.url;
                    call(result);
                },
                error: function (error) {

                }
            });
        }

        function call(data) {
            // var temp = [{ "name": "family1", "age": "123", "col1": "Dim1_dimeter", "col2": "Dim2_redius" }, { "name": "family2", "age": "123", "col1": "Voltage"}];
            //var temp1 = [{ "Dim1_dimeter": "temp", "Dim2_redius": "123" }, { "Voltage": "sss" }];
            // var temp = [{ "Id": 71, "ArticleNo": "0983 2460 07", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0181;B41456B7479M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "ARP;AIP", "SC": "1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 47000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 47000 µF ", " ± 20 % ", " 40V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }, { "Id": 72, "ArticleNo": "0983 2460 08", "ProductFamilyId": 346, "ProductFamilName": "Aluminium electrolytic capacitors;Aluminiumelektrolytkondensatorer", "ProductFamilyNo": "0983 2460 00", "ArticleName": "CAPACITOR", "SG": 1, "SupplierName": "RS components;EPCOS", "SupplierDesignation": "255-0169;B41456B7109M000", "StandardReference": null, "DrawingNo": "", "SpecificCompany": null, "UsedAt": "AIP;ARP;AID", "SC": "1;1;2", "ArticleXMLdata": "\u003cdims\u003e\u003cDimension Id= \" 1328 \"  value=  \" 10000 µF \" /\u003e\u003cDimension Id= \" 1329 \"  value=  \" ± 20 % \" /\u003e\u003cDimension Id= \" 1330 \"  value=  \" 40 V \" /\u003e\u003cDimension Id= \" 1331 \"  value=  \" -40°C to +85°C \" /\u003e\u003cDimension Id= \" 1332 \"  value=  \" \u003e12000 h at 85°C \" /\u003e\u003c/dims\u003e", "ArticleDimensonColoms": ["Capacity", "Capacity tolerance", "U max", "Temperature range", "Life expectancy"], "ArticleDimensonData": [" 10000 µF ", " ± 20 % ", " 40 V ", " -40°C to +85°C ", " \u003e12000 h at 85°C "] }]
           var temp = data; //satish comment now
            //test
            for (var i = 0; i < data.length; i++)
            {
                temp[i].ProductFamilName = data[i].ArticleData[0].ProductFamilName;
                //family No is all ready Mapped.
            }
            //end test

            $(document).ready(function () {
                var element = $("#grid").kendoGrid({
                    dataSource: temp,
                    height: 1200,
                    groupable: true,
                    sortable: true,
                    pageable: { refresh: true, pageSizes: true, buttonCount: 5, responsive: true, },
                    filterable: { mode: "row" },
                    scrolable:true,
                    detailInit: detailInit,//click

                    dataBound: function () {
                        this.expandRow(this.tbody.find("tr.k-master-row").first());
                    },
                    columns: [
                        {
                            field: "ProductFamilyNo", title: "Product Family No.", width: 120,
                            filterable:
                                {
                                    cell:
                                        {
                                          showOperators: false
                                         }
                                }
                        },
                        {
                            field: "ProductFamilName", title: "Product Family Name", width: 700,
                            filterable:
                               {
                                   cell:
                                       {
                                           showOperators: false //"contains"
                                       }
                               }
                        }
                    ]
                });
            });

            function detailInit(e) {//id

                var tempCols = [];
                tempCols.push({
                    "field": "ArticleName",
                    "title": "ArticleName",
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                    
                });
                tempCols.push({
                    "field": "ArticleNo", // cols,
                    "title": "ArticleNo", //cols,
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                });
                tempCols.push({
                    "field": "DrawingNo", // cols,
                    "title": "DrawingNo", //cols,
                    "width": 150,
                    filterable:
                              {
                                  cell:
                                      {
                                          showOperators: false
                                      }
                              }
                });

                for (var i = 0; i < e.data.ArticleData[0].ArticleDimensonColoms.length; i++) {
                    
                    tempCols.push({
                        "field": e.data.ArticleData[0].ArticleDimensonColoms[i].toString().replace(/[\s.+-/]+/g, ""), // cols,
                        "title": e.data.ArticleData[0].ArticleDimensonColoms[i], //cols,
                        "width": 150,
                        filterable:
                             {
                                 cell:
                                     {
                                         showOperators: false
                                     }
                             }
                    })
                }

                //colom values 
                var tempValues = [];
                for (var i_ = 0; i_ < e.data.ArticleData.length; i_++)
                {
                    var rowObj = {};
                    rowObj["ArticleName"] = e.data.ArticleData[i_].ArticleName;// e.data.ArticleName; e.data.ArticleData[0].ArticleName
                    rowObj["ArticleNo"] = e.data.ArticleData[i_].ArticleNo;//e.data.ArticleNo;
                    rowObj["DrawingNo"] = e.data.ArticleData[i_].DrawingNo //e.data.ArticleNo;

                    //putting dynamic coloms values
                    var j = 3;
                    for (var i = 0; i < e.data.ArticleData[0].ArticleDimensonColoms.length; i++) {

                        var Dim_col = tempCols[j].title.toString().replace(/[\s.+-/]+/g, "");
                        rowObj[Dim_col] = e.data.ArticleData[i_].ArticleDimensonData[i].toString().trim();
                        j++;

                    }
                    tempValues.push(rowObj);
                }
                
                var myJsonString = tempValues;
                $("<div/>").appendTo(e.detailCell).kendoGrid({

                    dataSource:tempValues,// temp,//tempValues,//temp1,
                    scrollable: true,
                    groupable: true,
                    sortable: true,
                    pageable: true,
                    height:650,
                    responsive: true,
                    filterable: { mode: "row" },
                    columns:tempCols
                

                });
                
            }
        }
        //refreshing kendo
        //$('#grid').data('kendoGrid').dataSource.read();
        //$('#grid').data('kendoGrid').refresh();
    </script>

</div>
