﻿@{
    ViewBag.Title = "Search_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><a href="/Home/Index" class="xs-padding-right first-color"> Home </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Rotating" class="xs-padding-right first-color"> 1.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Asynchronous" class="xs-padding-right first-color"> 1.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Slip_ring" class="xs-padding-right first-color"> 1.01.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span>Family_List</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
                <a href="#" class="btn fifth-border-color first-bg-color fifth-color" data-toggle="modal" data-target="#myModal">Create</a>
                <div class="btn-group">
                    <a href="#" class="btn fifth-border-color first-bg-color fifth-color dropdown-toggle" data-toggle="dropdown">
                        View &nbsp<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Family_Fig", "Electrical")">Family Figures</a></li>
                        <li><a href="#">Family Description</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row md-margin-top-bottom">
        @*<div id="grid"></div>*@


        <div class="col-sm-12">
            <a href="@Url.Action("Article_Info", "Electrical")">Type A2. Unhardened parallel pin with chamfered ends.</a>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header first-bg-color fifth-color">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body text-center first-color md-margin-top-bottom">
                <h1 class="bold">Coming Soon</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn first-bg-color fifth-color" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div>
    @(Html.Kendo().Grid<ArticleSearch.Web.Models.FamilyDataGrid>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(e => e.FamilyId).Hidden();
            columns.Bound(e => e.FamilyNumber).Width(110);
            columns.Bound(e => e.FamilyName).Width(310);

        })
        .Sortable()
        .Pageable()
        .Scrollable()
            .Groupable()
                        .ClientDetailTemplateId("template")
        .HtmlAttributes(new { style = "height:600px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(6)
                    .Read(read => read.Action("FamilyDataGrid", "Electrical"))
        )
         .Resizable(resize => resize.Columns(true))

        .Events(events => events.DataBound("dataBound"))
    )



</div>

<script>
    $(document).ready(function () {
    });




</script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<ArticleSearch.Web.Models.ArticleGridModel>()
                    .Name("grid_#=FamilyId#") // template expression, to be evaluated in the master context
                             .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                                                .Read(read => read.Action("ArticleGroupedByFamily", "Electrical", new { familyId = "#=FamilyId#" }))
                    )
            .Columns(columns =>
            {
                columns.Bound(o => o.ArticleNo).Width(110);
                columns.Bound(o => o.ArticleName).Width(110);
                columns.Bound(o => o.FamilyMetaData).Width(60);
                columns.Bound(o => o.FamilyNo).Width(90);
                if (ViewBag.ColumnSchema != null)
                {
                       //shital
                    List<string> columnList = ViewBag.ColumnSchema;
                    foreach (var col in columnList)
                    {
                        columns.Bound(col);
                    }
                   // columns.Bound("Document Thumbnail");
                }
                
            })
           
            .Pageable()
            .Sortable()
            .Groupable()
            .Resizable(resize => resize.Columns(true))
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>
