﻿@{
    ViewBag.Title = "Rotating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><a href="/Electrical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span> 1.01 </span></div>
            <div><span class="first-color">Index Name : </span><span>Rotating electrical machines</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Asynchronous", "Electrical")" title="Asynchronous motors, 3-phase, ventilated, enclosed">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Asynchronous motors, 3-phase, ventilated, enclosed
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/0.gif" />
                                <img src="/Content/images/Index2/1.gif" />
                                <img src="/Content/images/Index2/2.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Asynchronous motors, 3-phase, totally enclosed">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Asynchronous motors, 3-phase, totally enclosed
                                <span class="badge float-right fifth-bg-color first-color">2</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/3.gif" />
                                <img src="/Content/images/Index2/4.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Asynchronous motors, 1-phase">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Asynchronous motors, 1-phase
                                <span class="badge float-right fifth-bg-color first-color">3</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/5.gif" />
                                <img src="/Content/images/Index2/6.gif" />
                                <img src="/Content/images/Index2/7.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Synchronous motors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Synchronous motors
                                <span class="badge float-right fifth-bg-color first-color">4</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/8.gif" />
                                <img src="/Content/images/Index2/9.gif" />
                                <img src="/Content/images/Index2/10.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Stepping motors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Stepping motors
                                <span class="badge float-right fifth-bg-color first-color">5</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/11.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="DC-motors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                DC-motors
                                <span class="badge float-right fifth-bg-color first-color">6</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/12.gif" />
                                <img src="/Content/images/Index2/13.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Instrument, servo and gear motors">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Instrument, servo and gear motors
                                <span class="badge float-right fifth-bg-color first-color">7</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/14.gif" />
                                <img src="/Content/images/Index2/15.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Fans with motor (0972 0800 00)">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Fans with motor (0972 0800 00)
                                <span class="badge float-right fifth-bg-color first-color">8</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/16.gif" />
                                <img src="/Content/images/Index2/17.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Generators">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Generators
                                <span class="badge float-right fifth-bg-color first-color">9</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index2/18.gif" />
                                <img src="/Content/images/Index2/19.gif" />
                                <img src="/Content/images/Index2/20.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
