﻿@{
    ViewBag.Title = "Slip_ring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><a href="/Electrical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Rotating" class="xs-padding-right first-color"> 1.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Asynchronous" class="xs-padding-right first-color"> 1.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span> 1.01.01.01 </span></div>
            <div><span class="first-color">Index Name : </span><span>Slip ring motors - foot-mounted</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Electrical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Family_List", "Electrical")" title="Asynchronous motors, 3-phase, ventilated, enclosed - Foot-mounted slip ring motor with metric sized shaft and frame, special types (0971 1112 00)">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Asynchronous motors, 3-phase, ventilated, enclosed - Foot-mounted slip ring motor with metric sized shaft and frame, special types (0971 1112 00)
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/Index3/0.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>