﻿@{
    ViewBag.Title = "Article_Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><a href="/Home/Index" class="xs-padding-right first-color"> Home </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Rotating" class="xs-padding-right first-color"> 1.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Asynchronous" class="xs-padding-right first-color"> 1.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Electrical/Slip_ring" class="xs-padding-right first-color"> 1.01.01.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span>Article Information</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top">
        <div class="col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
                <a href="#" class="btn fifth-border-color first-bg-color fifth-color" data-toggle="modal" data-target="#myModal">Create</a>
                <div class="btn-group">
                    <a href="#" class="btn fifth-border-color first-bg-color fifth-color dropdown-toggle" data-toggle="dropdown">
                        View &nbsp<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Family_Fig", "Mechanical")">Family Figures</a></li>
                        <li><a href="#">Family Description</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row md-padding-top-bottom border-bottom fifth-border-color">
            <div class="col-lg-10 col-sm-10">
                <div class="inline-flex col-lg-12 col-sm-12">
                    <div class="bold" style="width:90px;">Article No. <span class="float-right">: &nbsp</span></div> <div>0101 1951 77</div>
                </div>
                <div class="inline-flex col-lg-12 col-sm-12">
                    <div class="bold" style="width:90px;">Title <span class="float-right">: &nbsp</span></div><div>Asynchronous motors, 3-phase, ventilated, enclosed </div>
                </div>
                <div class="inline-flex col-lg-12 col-sm-12">
                    <div class="bold" style="width:90px;">Family No. <span class="float-right">: &nbsp</span></div><div>0971 1112 00</div>
                </div>
                <div class="inline-flex col-lg-12 col-sm-12">
                    <div class="bold" style="width:90px;">Booklet <span class="float-right">: &nbsp</span></div><div>PS1-F</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2 float-right">
                <div><a href="#" class="first-color" data-toggle="modal" data-target="#myModal"><i class="fa fa-info" style="width:25px"></i>Family information</a></div>
                <div class="xs-margin-top-bottom"><a href="#" class="first-color" data-toggle="modal" data-target="#myModal1"><i class="fa fa-bar-chart first-color" style="width:25px"></i>Family Figures</a></div>
                <div><a href="#" class="first-color"><i class="fa fa-book" style="width:25px"></i>Family Description</a></div>
            </div>
        </div>

        <div class="row md-padding-top-bottom border-bottom fifth-border-color">
            <div class="col-lg-12 col-sm-12">
                <div class="col-ld-12 col-sm-12">
                    <div class="bold md-text">Technicle Data</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="first-bg-color fifth-color">
                                <tr>
                                    <th>Family no</th>
                                    <th>Family name</th>
                                    <th>Dim 1</th>
                                    <th>Dim 2</th>
                                    <th>Dim 3</th>
                                    <th>Dim 4</th>
                                    <th>Dim 5</th>
                                    <th>Dim 6</th>
                                    <th>Dim 7</th>
                                    <th>Dim 8</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0971 1140 00</td>
                                    <td>async.</td>
                                    <td>P KW</td>
                                    <td>Sf</td>
                                    <td>VOLTAGE</td>
                                    <td>F HZ</td>
                                    <td>N RPM</td>
                                    <td>Size</td>
                                    <td> J kgm²</td>
                                    <td>W I</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row md-padding-top-bottom">
            <div class="col-lg-12 col-sm-12">
                <div class="col-ld-12 col-sm-12">
                    <ul class="nav nav-tabs third-bg-color menu-pills first-border-color">
                        <li class="active"><a data-toggle="tab" href="#Codes">Codes</a></li>
                        <li><a data-toggle="tab" href="#Used">Used at</a></li>
                        <li><a data-toggle="tab" href="#Name">Name</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Codes" class="tab-pane fade in active">
                            <div class="col-lg-6 col-sm-6 lg-margin-top">
                                <div class="table-responsive">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>AC Group status (SG)</td>
                                            </tr>
                                            <tr>
                                                <td>ENG</td>
                                            </tr>
                                            <tr>
                                                <td>A. Kind of document</td>
                                            </tr>
                                            <tr>
                                                <td>B. List code</td>
                                            </tr>
                                            <tr>
                                                <td>C. Kind of article</td>
                                            </tr>
                                            <tr>
                                                <td>E. Spare parts code</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 lg-margin-top">
                                <div class="table-responsive">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>2 = Restrictive use</td>
                                            </tr>
                                            <tr>
                                                <td>99 = The article is of outside design and is included in the supplier's sales programme. The article can normally be obtained from stock.</td>
                                            </tr>
                                            <tr>
                                                <td>8 = Atlas Copco standard.</td>
                                            </tr>
                                            <tr>
                                                <td>0 = The structure of the article is not described.</td>
                                            </tr>
                                            <tr>
                                                <td>3 = Part. Refers e.g. to ball bearings; o-rings; drill; gauge; etc.</td>
                                            </tr>
                                            <tr>
                                                <td>1 = The article can be sold.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="Used" class="tab-pane fade">
                            <div class="col-lg-12 col-sm-12 lg-margin-top">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="first-bg-color fifth-color">
                                            <tr>
                                                <th>Company Code</th>
                                                <th>Company Code SC</th>
                                                <th>Status updated</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>TOO</td>
                                                <td>2</td>
                                                <td>27/08/2016</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="Name" class="tab-pane fade">
                            <div class="col-lg-6 col-sm-6">
                                <div class="bold md-text sm-margin-top-bottom">Article Name :</div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="first-bg-color fifth-color">
                                            <tr>
                                                <th>Language</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>English</td>
                                                <td>Asynchronous motors, 3-phase, ventilated, enclosed - Foot-mounted slip ring motor with metric sized shaft and frame, special types (0971 1112 00)</td>
                                            </tr>
                                            <tr>
                                                <td>Swedish</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>Spanish</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>French</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>Dutch</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>German</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="bold md-text sm-margin-top-bottom">Family Name :</div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="first-bg-color fifth-color">
                                            <tr>
                                                <th>Language</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>English</td>
                                                <td>Asynchronous motors, 3-phase, ventilated, enclosed - Foot-mounted slip ring motor with metric sized shaft and frame, special types (0971 1112 00)</td>
                                            </tr>
                                            <tr>
                                                <td>Swedish</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>Spanish</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>French</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>Dutch</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>German</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header first-bg-color fifth-color">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Family Information</h4>
            </div>
            <div class="modal-body">
                <div class="row md-margin-top-bottom">
                    <div class="col-lg-12 col-sm-12">
                        <div class="md-text bold">Family Information</div>
                        <p>Din7 L = Length acc to DIN 7</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn first-bg-color fifth-color" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header first-bg-color fifth-color">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Family Figures</h4>
            </div>
            <div class="modal-body">
                <div class="row md-margin-top-bottom border-bottom fifth-border-color">
                    <div class="col-lg-12 col-sm-12">
                        <div class="md-text"><b>Article No. : </b> 0101 1951 77</div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="first-bg-color fifth-color">
                                    <tr>
                                        <th>Family no</th>
                                        <th>Family name</th>
                                        <th>Dim 1</th>
                                        <th>Dim 2</th>
                                        <th>Dim 3</th>
                                        <th>Dim 4</th>
                                        <th>Dim 5</th>
                                        <th>Dim 6</th>
                                        <th>Dim 7</th>
                                        <th>Dim 8</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0971 1140 00</td>
                                        <td>async.</td>
                                        <td>P KW</td>
                                        <td>Sf</td>
                                        <td>VOLTAGE</td>
                                        <td>F HZ</td>
                                        <td>N RPM</td>
                                        <td>Size</td>
                                        <td> J kgm²</td>
                                        <td>W I</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row md-margin-top-bottom">
                    <div class="col-lg-12 col-sm-12">
                        <div class="md-text"><b>Family No. : </b> 0971 1112 00</div>
                        <div class="sm-text bold">Type A2. Unhardened parallel pin with chamfered ends.</div>
                        <div class="text-center md-margin-top-bottom"><img src="/Content/images/Index3/0.gif"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn first-bg-color fifth-color" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>