﻿@{
    ViewBag.Title = "Pins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <div><span class="first-color">Index Level &nbsp:</span><a href="/Electrical/Index" class="xs-padding-right first-color"> 1 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><a href="/Mechanical/Fasteners" class="xs-padding-right first-color"> 1.01 </a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span><span> 1.01.01 </span></div>
            <div><span class="first-color">Index Name : </span><span>Pins - Pinnar</span></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row md-margin-top-bottom">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Index</a>
                <a href="@Url.Action("Search_Form", "Mechanical")" class="btn fifth-border-color first-bg-color fifth-color">Search Form</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="@Url.Action("Parallel_Pins", "Mechanical")" title="Parallel pins">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Parallel pins
                                <span class="badge float-right fifth-bg-color first-color">1</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/0.gif" />
                                <img src="/Content/images/M_Index2/1.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Taper pins">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Taper pins
                                <span class="badge float-right fifth-bg-color first-color">2</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/2.gif" />
                                <img src="/Content/images/M_Index2/3.gif" />
                                <img src="/Content/images/M_Index2/4.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Grooved pins">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Grooved pins
                                <span class="badge float-right fifth-bg-color first-color">3</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/5.gif" />
                                <img src="/Content/images/M_Index2/6.gif" />
                                <img src="/Content/images/M_Index2/7.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 sm-margin-top-bottom">
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Spring pins and spiral pins (0108 1000 00)">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Spring pins and spiral pins (0108 1000 00)
                                <span class="badge float-right fifth-bg-color first-color">4</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/8.gif" />
                                <img src="/Content/images/M_Index2/9.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Split cotter pins, clips and cotters">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Split cotter pins, clips and cotters
                                <span class="badge float-right fifth-bg-color first-color">5</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/10.gif" />
                                <img src="/Content/images/M_Index2/11.gif" />
                                <img src="/Content/images/M_Index2/12.gif" />
                                <img src="/Content/images/M_Index2/13.gif" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default first-border-color">
                        <a href="#" title="Clevis pins and parallel pins with hole (0113 2000 00)">
                            <div class="panel-heading btnDataOverflow first-bg-color fifth-color">
                                Clevis pins and parallel pins with hole (0113 2000 00)
                                <span class="badge float-right fifth-bg-color first-color">6</span>
                            </div>
                            <div class="panel-body btnDataImg">
                                <img src="/Content/images/M_Index2/14.gif" />
                                <img src="/Content/images/M_Index2/15.gif" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
