﻿/*@font-face {
    font-family: SourceSansPro;
    src: url('font/SourceSansPro-Regular.otf') format('opentype');
}*/

/*body */
body {
    font-family: 'Source Sans Pro',helvetica,arial,sans-serif !important;
    color:#5a5d60 !important;
    font-size:16px !important;
}

/*Text Format*/

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}


/*position*/
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

/*Float*/
.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.mid {
    margin: 0 auto !important;
    float: none !important;
}

/*display format*/

.hidden {
    display: none;
}

.show {
    display: block;
}

.inline-flex {
    display: inline-flex !important;
}

.overflowHid {
    overflow: hidden;
}

/*Font Sizes*/

.xl-text {
    font-size: 25px !important;
}

.lg-text {
    font-size: 20px !important;
}

.md-text {
    font-size: 18px;
}

.sm-text {
    font-size: 16px;
}

.xs-text {
    font-size: 14px;
}

.xxs-text {
    font-size: 11px;
}

.xxxs-text {
    font-size: 9px !important;
}

/*Font or Text color*/
.first-color {
    color: #0099cc !important;
}

.second-color {
    color: #ffe600;
}

.third-color {
    color: #6e6e78;
}

.fourth-color {
    color: #d2d2d2;
}

.fifth-color {
    color: #fff !important;
}

.sixth-color {
    color: #daeaf2;
}

.seventh-color {
    color: #00a64a;
}

.eighth-color {
    color: red;
}

/*Background Color*/
.first-bg-color {
    background-color: #0099cc !important;
}

.second-bg-color {
    background-color: #ffe600 !important;
}

.third-bg-color {
    background-color: #6e6e78 !important;
}

.fourth-bg-color {
    background-color: #d2d2d2;
}

.fifth-bg-color {
    background-color: #fff !important;
}

.sixth-bg-color {
    background-color: #daeaf2;
}

.seventh-bg-color {
    background-color: #00a64a !important;
}

/*Background color and text color*/
.first-bg-fifth-color {
    background-color: #0099cc !important;
    color: #fff !important;
}

.second-bg-first-color {
    background-color: #0099cc;
    color: #FCD931 !important;
}

.third-bg-first-color {
    background-color: #6e6e78;
    color: #fff;
}

/*Border CSS*/
.border-square {
    border: 1px solid;
}

.border-cylinder {
    border: 1px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.border-circle {
    border: 1px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.border-radius-zero {
    border-radius: 0 !important;
}

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-top-bottom {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.border-zero {
    border: 0 !important;
}

/*Border Color*/
.first-border-color {
    border-color: #0099cc !important;
}

.second-border-color {
    border-color: #ffe600 !important;
}

.third-border-color {
    border-color: #6e6e78 !important;
}

.fourth-border-color {
    border-color: silver;
}

.fifth-border-color {
    border-color: #ebebec !important;
}

.seventh-border-color {
    border-color: #00a64a !important;
}

/*Margins to all sides*/
.xxl-margin {
    margin: 40px;
}

.xl-margin {
    margin: 30px;
}

.lg-margin {
    margin: 20px;
}

.md-margin {
    margin: 15px;
}

.sm-margin {
    margin: 10px;
}

.xs-margin {
    margin: 5px;
}

/*Margin-top*/
.xxl-margin-top {
    margin-top: 40px;
}

.xl-margin-top {
    margin-top: 30px;
}

.lg-margin-top {
    margin-top: 20px;
}

.md-margin-top {
    margin-top: 15px;
}

.sm-margin-top {
    margin-top: 10px;
}

.xs-margin-top {
    margin-top: 5px;
}

/*Margin-bottom*/
.xxl-margin-bottom {
    margin-bottom: 40px;
}

.xl-margin-bottom {
    margin-bottom: 30px;
}

.lg-margin-bottom {
    margin-bottom: 20px;
}

.md-margin-bottom {
    margin-bottom: 15px;
}

.sm-margin-bottom {
    margin-bottom: 10px;
}

.xs-margin-bottom {
    margin-bottom: 5px;
}

/*Margin-top-bottom*/
.xxl-margin-top-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.xl-margin-top-bottom {
    margin-top: 30px;
    margin-bottom: 30px;
}

.lg-margin-top-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.md-margin-top-bottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sm-margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.xs-margin-top-bottom {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Margin-left*/
.xxl-margin-left {
    margin-left: 40px;
}

.xl-margin-left {
    margin-left: 30px;
}

.lg-margin-left {
    margin-left: 20px;
}

.md-margin-left {
    margin-left: 15px;
}

.sm-margin-left {
    margin-left: 10px;
}

.xs-margin-left {
    margin-left: 5px;
}

/*Margin-right*/
.xxl-margin-right {
    margin-right: 40px;
}

.xl-margin-right {
    margin-right: 30px;
}

.lg-margin-right {
    margin-right: 20px;
}

.md-margin-right {
    margin-right: 15px;
}

.sm-margin-right {
    margin-right: 10px;
}

.xs-margin-right {
    margin-right: 5px;
}

/*Margin-left-right*/
.xxl-margin-left-right {
    margin-left: 40px;
    margin-right: 40px;
}

.xl-margin-left-right {
    margin-left: 30px;
    margin-right: 30px;
}

.lg-margin-left-right {
    margin-left: 20px;
    margin-right: 20px;
}

.md-margin-left-right {
    margin-left: 15px;
    margin-right: 15px;
}

.sm-margin-left-right {
    margin-left: 10px;
    margin-right: 10px;
}

.xs-margin-left-right {
    margin-left: 5px;
    margin-right: 5px;
}

.no-margin {
    margin: 0 !important;
}

/*Padding to all sides*/
.xxl-padding {
    padding: 40px;
}

.xl-padding {
    padding: 30px;
}

.lg-padding {
    padding: 20px;
}

.md-padding {
    padding: 15px;
}

.sm-padding {
    padding: 10px;
}

.xs-padding {
    padding: 5px !important;
}




/*Padding-top*/
.xxl-padding-top {
    padding-top: 40px;
}

.xl-padding-top {
    padding-top: 30px;
}

.lg-padding-top {
    padding-top: 20px;
}

.md-padding-top {
    padding-top: 15px;
}

.sm-padding-top {
    padding-top: 10px;
}

.xs-padding-top {
    padding-top: 5px !important;
}

/*Padding-icon*/

.xs-padding-top-eight {
    padding-top: 7px;
}

/*Padding-bottom*/
.xxl-padding-bottom {
    padding-bottom: 40px;
}

.xl-padding-bottom {
    padding-bottom: 30px;
}

.lg-padding-bottom {
    padding-bottom: 20px;
}

.md-padding-bottom {
    padding-bottom: 15px;
}

.sm-padding-bottom {
    padding-bottom: 10px;
}

.xs-padding-bottom {
    padding-bottom: 5px;
}

/*Padding-top-bottom*/
.xxl-padding-top-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

.xl-padding-top-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lg-padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.md-padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sm-padding-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.xs-padding-top-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Padding-left*/
.xxl-padding-left {
    padding-left: 40px;
}

.xl-padding-left {
    padding-left: 30px;
}

.lg-padding-left {
    padding-left: 20px;
}

.md-padding-left {
    padding-left: 15px;
}

.sm-padding-left {
    padding-left: 10px;
}

.xs-padding-left {
    padding-left: 5px !important;
}

/*Padding-right*/
.xxl-padding-right {
    padding-right: 40px;
}

.xl-padding-right {
    padding-right: 30px;
}

.lg-padding-right {
    padding-right: 20px;
}

.md-padding-right {
    padding-right: 15px;
}

.sm-padding-right {
    padding-right: 10px;
}

.xs-padding-right {
    padding-right: 5px !important;
}

.xxs-padding-right {
    padding-right: 1px !important;
}

/*Padding-left-right*/
.xxl-padding-left-right {
    padding-left: 40px;
    padding-right: 40px;
}

.xl-padding-left-right {
    padding-left: 30px;
    padding-right: 30px;
}

.lg-padding-left-right {
    padding-left: 20px;
    padding-right: 20px;
}

.md-padding-left-right {
    padding-left: 15px;
    padding-right: 15px;
}

.sm-padding-left-right {
    padding-left: 10px;
    padding-right: 10px;
}

.xs-padding-left-right {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/*padding zero*/
.no-padding {
    padding: 0 !important;
}


/*Icon*/
.sm-ico {
    height: 8px;
    width: 8px;
}

.md-ico {
    height: 16px;
    width: 16px;
}

.lg-ico {
    height: 32px;
    width: 32px;
}

.xl-ico {
    height: 64px;
    width: 64px;
}


/*Buttons CSS*/
.xl-btn-width {
    width: 200px;
}

.lg-btn-width {
    width: 150px;
}

.md-btn-width {
    width: 100px;
}

.sm-btn-width {
    width: 80px;
}

.xs-btn-width {
    width: 60px;
}
