﻿.k-grid-header, .k-grid-header .k-header {
    background-color: #0099CC;
    color: #ffffff !important;
}

    .k-grid-header .k-link {
        color: #ffffff !important;
    }

.k-grouping-header {
    background-color: #d2d2d2;
}

    .k-grouping-header .k-group-indicator {
        background-color: #0099CC;
        color: #ffffff !important;
    }

#grid {
    font-size: 14px;
}
