﻿.container-wrap {
    padding-right: 28px;
    padding-left: 28px;
}

.site-links {
    display: inline-flex;
    float: left;
    padding: 39px 0 0 15px;
    color: #0099cc;
    font-size: 12px;
}

.country {
    color: #0099cc;
}

.site-links .corporate {
    display: inline;
    padding-left: 4px;
    border-left: 1px solid #0099cc;
    color: #0099cc !important;
}

.step-pills li a {
    background: silver;
    color: #fff !important;
    /*border-radius: 0 15px !important;*/
}

    .step-pills li a:hover {
        background: silver !important;
    }

.step-pills > li.active > a, .step-pills > li.active > a:hover, .step-pills > li.active > a:focus {
    background: #0099cc !important;
}

.custom-margin-top {
    margin-top: 79px;
}

.stepHeight {
    height: 220px;
}


.navbar-Head {
    font-size: 14px !important;
    color: #5a5d60;
    font-weight: normal !important;
    height: auto !important;
    padding: 5px 15px !important;
    margin-top: 7px;
    border: 1px solid #dcdbdb !important;
}

    .navbar-Head:hover {
        background: #f7f6f6 !important;
    }

.navbar-Head1 {
    display: none;
}

.navbar-Head1-show {
    padding: 0 15px 15px 0 !important;
    display: block;
}

.navbar-Head:hover {
    color: #0099cc;
}

/*.down-menu {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}*/

.down-menu1 {
    border: none !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px;
    background: #ebebec !important;
}

    .down-menu1 li a {
        padding: 5px 20px !important;
        color: #6e6e78 !important;
        font-size: 16px;
    }

        .down-menu1 li a:hover {
            color: #0099cc !important;
        }

.btn-menu {
    border: 1px solid #0099cc !important;
}

    .btn-menu .icon-bar {
        background-color: #0099cc !important;
    }

    .btn-menu:hover {
        border: 1px solid #5a5d60 !important;
    }

        .btn-menu:hover .icon-bar {
            background-color: #5a5d60 !important;
        }

.topMenuwidth {
    width: 93% !important;
}

.topMenuwidth1 {
    width: 100%;
}

/*.menu1 li a {
    color: #0099cc;
    font-size: 16px;
}*/

/*.menu3 li a {
    color: #0099cc;
    font-size: 18px;
}*/

/*.menu3 li a:hover {
        cursor: pointer;
        color: #5a5d60 !important;
        background-color: transparent !important;
    }*/

/*.menu3 li, .menu4 li {
    border-right: 1px dotted silver;
}*/

/*.menu3 li:last-child, .menu4 li:last-child {
        border-right: none;
    }*/

/*.menu3 li a {
        padding: 2px 15px !important;
    }*/

.menu4 li a {
    color: #0d0d0d !important;
    padding: 5px 15px !important;
    font-size: 18px;
}

    .menu4 li a:hover {
        color: #5a5d60 !important;
        background-color: transparent !important;
    }

.menu {
    width: 100%;
}

    .menu > li > a, .menu > li > input {
        padding: 10px 27px !important;
        border-left: 1px solid #ebebec !important;
        line-height: 30px !important;
        color: #0099cc !important;
        font-size: 18px;
    }
    .menu > li > input:hover, .menu > li > input:active, .menu > li > input:focus {
        border-left: 1px solid #ebebec !important;
    }

    .menu li a:hover {
        cursor: pointer;
        color: #5a5d60 !important;
        background-color: #ebebec !important;
    }

.menu_search {
    border: none !important;
    width: 200px !important;
    outline: none !important;
}

.menu_search:focus, .menu_search:active, .menu_search:hover {
    border: none !important;
    outline: none !important;
    outline-offset: 0 !important;
}

.menu_searchIcon {
    position: absolute;
    left: -30px;
    top: 15px;
    color: #0099cc;
}

.scrollZero {
    padding: 0 !important;
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #ebebec;
}

.scrollMenu {
    position: fixed;
    top: 0px;
    z-index: 1;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, .175);
    border-bottom: 1px solid #ebebec;
}


.firstLi1 {
    padding-left: 40px !important;
}

.searchIcon {
    display: none !important;
}

.searchIcon-show {
    display: block !important;
}


/* CSS used here will be applied after bootstrap.css */ .nav {
    margin-bottom: 0;
}




/* CSS used here will be applied after bootstrap.css */
.menuParent {
    margin-bottom: 0 !important;
}

/*.menu > li.dropdown.open {
    position: static;
}

    .menu > li.dropdown.open .dropdown-menu {
        display: table;
        width: 100%;
        left: 0;
        right: 0;
        background: #ebebec;
    }

.down-menu1 > li {
    display: table-cell;
}

.down-menu1 li a {
    padding: 0 15px !important;
}*/

/*.searchIcon1 {
    display: none !important;
}*/

.noticeClass {
    float: right;
}

.followClass {
    padding-left: 15px;
}

/*#myNavbar2 {
    margin-left: -15px !important;
}*/

.loginUser {
    display: none !important;
}

/*.fcscommoditygrid1 {
    overflow: auto !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}*/

/*.k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button {
    background-color: #0099cc !important;
    border-color: #0099cc !important;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #fff !important;
}*/

/*.dataTables_length, .dataTables_info {
    float: right;
}

.dataTables_paginate span {
    padding: 0 15px;
}*/

.btnDataOverflow {
    width: 100%;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block !important;
    border-radius: 4px 4px 0px 0px !important;
    /*padding: 6px 30px 6px 6px !important;*/
    padding: 10px 35px 10px 15px !important;
    font-size: 14px !important;
}

    .btnDataOverflow span {
        position: absolute !important;
        top: 12px !important;
        right: 27px;
    }

.btnDataImg {
    text-align: center;
    border-radius: 0px 0px 4px 4px !important;
    height: 85px;
    overflow: auto;
}

    .btnDataImg img {
        padding: 10px;
    }

@media (min-width:768px) and (max-width:1024px) {
    body {
        font-size: 14px;
    }

    .topMenuwidth {
        width: auto !important;
    }

    .menu li a {
        padding: 10px 30px !important;
    }

    #myNavbar {
        display: none !important;
    }

    /*.btnBox {
        margin-right: 15px !important;
    }*/

    .searchIcon1 {
        display: block !important;
        position: absolute;
        top: 10px;
        right: 0px;
        margin-left: 15px !important;
    }

    /*.menu > li.dropdown.open {
        position: relative;
    }

    .down-menu1 > li {
        display: block;
    }*/
    .followClass {
        padding-left: 0px;
    }
}

@media (max-width:768px) {

    /*#myNavbar {
        display: none !important;
    }*/

    .topMenuwidth {
        width: auto !important;
    }

    .searchIcon1 {
        display: block !important;
        position: absolute;
        top: 10px;
        right: 0px;
    }

    .noticeClass {
        float: none;
    }

    .menu4 li {
        border-right: none;
    }

    .followClass {
        padding-left: 0px;
    }

    /*#myNavbar2 {
        margin-left: 0px !important;
    }*/


    .btnBox {
        font-size: 14px !important;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .custom-margin-top {
        margin-top: 30px;
    }

    .step-pills li a {
        padding: 5px 15px !important;
    }
}

@media (max-width:500px) {
    .scrollMenu {
        position: relative;
    }

    .btnBox {
        top: 76px;
    }

    .stepHeight {
        height: auto;
    }
}
