﻿@*@model  ArticleSearch.Model.TestModel*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    }*@
<div class="row sm-padding-bottom border-bottom fifth-border-color">
    <div class="col-lg-12 col-sm-12">
        <div class="col-lg-12 col-sm-12">
            <a href="/Home" class="xs-padding-right first-color">Home</a><span class="xs-padding-right"><i class="fa fa-angle-right first-color sm-text"></i></span>
        </div>
    </div>
</div>
<div class="container-fluid">    
    <div>
        <h1>Main Entrance to Engineering Standards </h1>

        <h4 class="bold">This application is a navigator to Engineering Standards services and news.</h4>

        <p>Engineering Standards has one representative from each Business Areas to support Engineering Standards.</p>

        <p>You are welcome to contact your local Atlas Copco representative for guidance, training and project requests.</p>
    </div>
</div>